img {
    border-radius: 8px;
}

body {
    background-color: #a2f6ff;
    text-align: left;
}

.content {
    padding: 70px 250px;
    font-family: Helvetica, sans-serif

}

.contact {
    color:rgb(55, 55, 55)
}

.button {
    padding: 10px 20px;
    background-color: rgb(47, 47, 47);
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.button-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.about_text {
    padding: 10px 400px;
    font-family: Helvetica, sans-serif

}

.about-me-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 70px 280px;
}

.right-column {
    padding-top: 60px;
}

.photo-container img {
    margin-bottom: 10px;
}